$white: #FFFFFF;
$pink: #E18FBC;
$purple: #6057B2;
$purple-light : #A36BF5;
$dark-purple: #383464;
$light-blue: #6057B2;
$green:#6DE85A;
$blue-light: #60E5D4;
$blue-total: #41C5EE;

$gray: #303030;
$gray2: #8B8B8B;
$gray3: #DBDBDB;
$gray4: #F1F1F1;
$gray5: #0000000D;
$gray-span: #F1F1F1;




$primary-color: $white;
$secondary-color: $purple;
$bg-color: $white;

$height: 34px;
$border: 10px;

$font-size2: 14px;
$font-size3: 12px;
$font-size4: 16px;
$font-size5: 20px;
$font-size6: 18px;

